<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>

	<script>
		// setup Polymer options
		window.Polymer = {
			lazyRegister: true,
			dom: 'shadow',
			noUrlSettings: true
		};

		// load webcomponents polyfills
		(function () {
			if ('registerElement' in document
				&& 'import' in document.createElement('link')
				&& 'content' in document.createElement('template')) {
				// browser has web components
			} else {
				// polyfill web components
				var e = document.createElement('script');
				e.src = '/components/webcomponentsjs/webcomponents-lite.min.js';
				document.head.appendChild(e);
			}
		})();

		// load pre-caching service worker
//		if ('serviceWorker' in navigator) {
//			window.addEventListener('load', function () {
//				navigator.serviceWorker.register('/service-worker.js');
//			});
//		}
	</script>

	<link rel="import" href="{$basePath}/components/polymer/polymer.html">
	<link rel="import" href="{$basePath}/components/paper-toast/paper-toast.html"> {* Flash Messages *}

	{* TODO: při debugMode=false dát build z Gulpu (vulcanize, crisper, [babel]) *}
	<link rel="import" href="{$basePath}/src/adeira-application.html">

	<style>
		html, body {
			background-color: #fafafa;
			height: 100%;
			margin: 0;
		}
	</style>
</head>
<body unresolved>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
		<paper-toast text="{$flash->message}" opened></paper-toast>
	</div>

	<adeira-application></adeira-application>

	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}

</body>
</html>
