doctrine.orm:
	connection:
		types:
			DataSourceId: Adeira\Connector\Inbound\Infrastructure\DomainModel\DoctrineDataSourceIdType
			DataSourceRecordId: \Adeira\Connector\Inbound\Infrastructure\DomainModel\DoctrineDataSourceRecordIdType


services:
	- Adeira\Connector\Inbound\Application\Service\AddDataSourceRecordService
	- Adeira\Connector\Inbound\Application\Service\AddDataSourceService
	dataSourceRecordRepository: Adeira\Connector\Inbound\Infrastructure\Persistence\Doctrine\DoctrineDataSourceRecordRepository
	dataSourceRepository: Adeira\Connector\Inbound\Infrastructure\Persistence\Doctrine\DoctrineDataSourceRepository


symfony.console:
	commands:
		- Adeira\Connector\Inbound\Infrastructure\UI\Console\AddDataSourceCommand
		- Adeira\Connector\Inbound\Infrastructure\UI\Console\RecievePacketCommand
