graphql:
	outputTypes:
		TypeName:
			resolver: Adeira\Connector\Tests\GraphQL\Infrastructure\DI\Nette\OutputType(parameter: 'parameter')
			fields:
				totalCount: [Int!]
				allRecords:
					arguments:
						id: ID!
						name: String(default: test)
						fromEnum: EnumName(default: key)
					next: [String]

	enums:
		EnumName:
			key: value
