graphql:
	queries:
		QueryName:
			resolver: Adeira\Connector\Tests\GraphQL\Infrastructure\DI\Nette\QueryResolver
			next: OutputType

	outputTypes:
		OutputType:
			resolver: Adeira\Connector\Tests\GraphQL\Infrastructure\DI\Nette\OutputType
			fields:
				totalCount: Int!
