graphql:
	queries:
		QueryName:
			arguments:
				first: Int
				after: String
			resolver: Adeira\Connector\Tests\GraphQL\Infrastructure\DI\Nette\QueryResolver
			next: [OutputType]

	outputTypes:
		OutputType:
			resolver: Adeira\Connector\Tests\GraphQL\Infrastructure\DI\Nette\OutputType(parameter: 'parameter')
			fields:
				totalCount: Int!
