<link rel="import" href="{$basePath}/components/paper-styles/typography.html">

{*<link rel="import" n:href="Webcomponents:cardsGrid">*}

<dom-module id="x-app">

	<template>

		<style>
			.caption {
				@apply(--paper-font-display1);
				font-weight: 200;
			}
		</style>

		<h2 class="caption">Dashboard</h2>
		{*<x-cardsGrid></x-cardsGrid>*}

	</template>

	<script>
		Polymer({
			is: 'x-app'
		});
	</script>

</dom-module>
