# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


includes:
	- extensions.neon
	- services.neon


application:
	scanDirs: no
	errorPresenter: GraphqlError
	mapping:
		*: Adeira\Connector\Endpoints\Infrastructure\Delivery\Http\*Endpoint


doctrine.orm:
	connection:
		types:
			jsonb: Boldtrn\JsonbBundle\Types\JsonbArrayType
			uuid: Ramsey\Uuid\Doctrine\UuidType


migrations: # see @migrations.codeStyle
	table: database_structure_migrations
	column: version
	directory: %appDir%/migrations
	namespace: Adeira\Connector\Migrations
	versionsOrganization: year_and_month # null or year


parameters:
	srcDir: %appDir%/src


php:
	date.timezone: Europe/Prague


session:
	expiration: 14 days


symfony.console:
	commands:
		- Doctrine\DBAL\Tools\Console\Command\RunSqlCommand
		- Doctrine\DBAL\Tools\Console\Command\ImportCommand
		- Doctrine\ORM\Tools\Console\Command\ClearCache\MetadataCommand
		- Doctrine\ORM\Tools\Console\Command\ClearCache\ResultCommand
		- Doctrine\ORM\Tools\Console\Command\ClearCache\QueryCommand
		- Doctrine\ORM\Tools\Console\Command\SchemaTool\CreateCommand
		- Doctrine\ORM\Tools\Console\Command\SchemaTool\UpdateCommand
		- Doctrine\ORM\Tools\Console\Command\SchemaTool\DropCommand
		- Doctrine\ORM\Tools\Console\Command\EnsureProductionSettingsCommand
		- Doctrine\ORM\Tools\Console\Command\GenerateProxiesCommand
		- Doctrine\ORM\Tools\Console\Command\RunDqlCommand
		- Doctrine\ORM\Tools\Console\Command\ValidateSchemaCommand
		- Doctrine\ORM\Tools\Console\Command\InfoCommand
		- Doctrine\ORM\Tools\Console\Command\MappingDescribeCommand
	helpers:
#		db: Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper
		question: Symfony\Component\Console\Helper\QuestionHelper # migrations
		em: Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper # doctrine
