# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


includes:
    - extensions.neon


php:
	date.timezone: Europe/Prague


application:
	scanDirs: no
	errorPresenter: Error
	mapping:
		*: Adeira\Connector\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: Adeira\Connector\Router\RouterFactory::createRouter
	- Adeira\Connector\Forms\FormFactory
	- Adeira\Connector\Forms\ContactFormFactory
