# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


application:
	scanDirs: no
	errorPresenter: Connector:GraphqlError
	mapping:
		Connector: Adeira\Connector\Endpoints\Infrastructure\Delivery\Http\*Endpoint


doctrine.orm:
	connection:
		types:
			jsonb: Boldtrn\JsonbBundle\Types\JsonbArrayType
			uuid: Ramsey\Uuid\Doctrine\UuidType


extensions:
	adeira.routing: Adeira\Connector\Routing\Infrastructure\DI\Nette\Extension
	authentication: Adeira\Connector\Authentication\Infrastructure\DI\Nette\Extension
	devices: Adeira\Connector\Devices\Infrastructure\DI\Nette\Extension
	doctrine.orm: Adeira\Connector\Doctrine\ORM\DI\Extension(%debugMode%, %tempDir%/cache)
	fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
	graphql: Adeira\Connector\GraphQL\Infrastructure\DI\Nette\Extension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	serviceBus: Adeira\Connector\ServiceBus\Infrastructure\DI\Nette\Extension
	symfony.console: Adeira\Connector\Symfony\Console\DI\Extension


migrations:
	dir: %appDir%/migrations #FIXME: rename to %rootDir%
	driver: pgsql
	dbal: doctrine
	diffGenerator: doctrine
	withDummyData: no


parameters:
	srcDir: %appDir%/src


php:
	date.timezone: Europe/Prague


services:
	doctrineSession: Adeira\Connector\Common\Infrastructure\Application\Service\DoctrineSession
	dummySession:
		class: Adeira\Connector\Common\Infrastructure\Application\Service\DummySession
		autowired: no


session:
	expiration: 14 days


symfony.console:
	commands:
		- Adeira\Connector\Symfony\Console\UuidCommand
		- Doctrine\DBAL\Tools\Console\Command\RunSqlCommand
		- Doctrine\DBAL\Tools\Console\Command\ImportCommand
		- Doctrine\ORM\Tools\Console\Command\ClearCache\MetadataCommand
		- Doctrine\ORM\Tools\Console\Command\ClearCache\ResultCommand
		- Doctrine\ORM\Tools\Console\Command\ClearCache\QueryCommand
		- Doctrine\ORM\Tools\Console\Command\SchemaTool\UpdateCommand
		- Doctrine\ORM\Tools\Console\Command\EnsureProductionSettingsCommand
		- Doctrine\ORM\Tools\Console\Command\GenerateProxiesCommand
		- Doctrine\ORM\Tools\Console\Command\RunDqlCommand
		- Doctrine\ORM\Tools\Console\Command\ValidateSchemaCommand
		- Doctrine\ORM\Tools\Console\Command\InfoCommand
		- Doctrine\ORM\Tools\Console\Command\MappingDescribeCommand
	helpers:
#		db: Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper
		question: Symfony\Component\Console\Helper\QuestionHelper # migrations
		em: Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper # doctrine
