# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


extensions:
	doctrine.orm: Adeira\Connector\Doctrine\ORM\DI\Extension
	fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
	symfony.console: Adeira\Connector\Symfony\Console\DI\Extension
