# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


extensions:
	- Arachne\ContainerAdapter\DI\ContainerAdapterExtension # because of migrations
	- Arachne\EventDispatcher\DI\EventDispatcherExtension # because of migrations
	adeira.routing: Adeira\Connector\Routing\Infrastructure\DI\Nette\Extension
	authentication: Adeira\Connector\Authentication\Infrastructure\DI\Nette\Extension
	devices: Adeira\Connector\Devices\Infrastructure\DI\Nette\Extension
	doctrine.orm: Adeira\Connector\Doctrine\ORM\DI\Extension(%debugMode%)
	fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
	graphql: Adeira\Connector\GraphQL\Bridge\Nette\DI\Extension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	symfony.console: Adeira\Connector\Symfony\Console\DI\Extension
