# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


services:
	router: Adeira\Connector\Routing\RouterFactory::createRouter
