# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning


services:
	migrations.codeStyle: Adeira\Connector\Migrations\CodeStyle
	doctrineSession: Adeira\Connector\Common\Infrastructure\Application\Service\DoctrineSession
	dummySession:
		class: Adeira\Connector\Common\Infrastructure\Application\Service\DummySession
		autowired: no
