parameters:
	identity:
		jwtPrivateKey: 77c4289ff022e4969c03ea09bf7c22783ce8871e5b6d4393c65941153559292b3903fad9ff4e7fd45e926f4e9ce29c839846a3ed0eb17620c39809112d08af5c


doctrine.orm:
	connection:
		types:
			UserId: Adeira\Connector\Identity\Infrastructure\DomainModel\DoctrineUserIdType


services:
	- Adeira\Connector\Identity\Application\Service\CreateUserService
	- Adeira\Connector\Identity\Application\Service\SignInService
	- Adeira\Connector\Identity\DomainModel\Authenticator(..., %identity.jwtPrivateKey%)
	userRepository: Adeira\Connector\Identity\Infrastructure\Persistence\Doctrine\DoctrineUserRepository


symfony.console:
	commands:
		- Adeira\Connector\Identity\Infrastructure\UI\Console\CreateUserCommand


graphql:
	queryDefinitions:
		- Adeira\Connector\Identity\Infrastructure\UI\GraphQL\QueryDefinitions
	mutationDefinitions:
		- Adeira\Connector\Identity\Infrastructure\UI\GraphQL\MutationDefinitions
	types:
		- Adeira\Connector\Identity\Infrastructure\UI\GraphQL\UserType
