doctrine.orm:
	connection:
		types:
			WeatherStationId: Adeira\Connector\Devices\Infrastructure\DomainModel\WeatherStation\Doctrine\DoctrineWeatherStationIdType
			WeatherStationRecordId: Adeira\Connector\Devices\Infrastructure\DomainModel\WeatherStation\Doctrine\DoctrineWeatherStationRecordIdType
			WeatherStationSeriesId: Adeira\Connector\Devices\Infrastructure\DomainModel\WeatherStation\Doctrine\DoctrineWeatherStationSeriesIdType


services:
	- Adeira\Connector\Devices\Application\Service\WeatherStation\(
		ViewAllWeatherStationRecordsService
		ViewAllWeatherStationsService
		ViewAllWeatherStationSeries
		ViewSingleWeatherStation
	)
	weatherStationRecordRepository: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineWeatherStationRecordRepository
	weatherStationRepository: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineWeatherStationRepository
	weatherStationSeriesRepository: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineWeatherStationSeriesRepository


serviceBus:
	dispatchMap:
		Adeira\Connector\Devices\Application\Service\WeatherStation\Command\CreateWeatherStation: Adeira\Connector\Devices\Application\Service\WeatherStation\Command\CreateWeatherStationHandler


symfony.console:
	commands:
		- Adeira\Connector\Devices\Infrastructure\Delivery\Console\Symfony\CreateWeatherStationCommand
		- Adeira\Connector\Devices\Infrastructure\Delivery\Console\Symfony\RecievePacketCommand


graphql:
	queryDefinitions:
		- Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\Query\(
			AllWeatherStationsQuery
			WeatherStationQuery
		)
	types:
		- Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\Type\(
			WeatherStationRecordType
			WeatherStationsConnectionType
			WeatherStationsEdgeType
			WeatherStationSeriesType
			WeatherStationType
		)
