includes:
	- CamerasGraphQL.neon
	- WeatherStationsGraphQL.neon


doctrine.orm:
	connection:
		types:
			Humidity: Adeira\Connector\PhysicalUnits\Infrastructure\DomainModel\Doctrine\DoctrineHumidityType
			Pressure: Adeira\Connector\PhysicalUnits\Infrastructure\DomainModel\Doctrine\DoctrinePressureType
			Speed: Adeira\Connector\PhysicalUnits\Infrastructure\DomainModel\Doctrine\DoctrineSpeedType
			Temperature: Adeira\Connector\PhysicalUnits\Infrastructure\DomainModel\Doctrine\DoctrineTemperatureType

			CameraId: Adeira\Connector\Devices\Infrastructure\DomainModel\Camera\Doctrine\DoctrineCameraIdType
			WeatherStationId: Adeira\Connector\Devices\Infrastructure\DomainModel\WeatherStation\Doctrine\DoctrineWeatherStationIdType
			WeatherStationRecordId: Adeira\Connector\Devices\Infrastructure\DomainModel\WeatherStation\Doctrine\DoctrineWeatherStationRecordIdType
			WeatherStationSeriesId: Adeira\Connector\Devices\Infrastructure\DomainModel\WeatherStation\Doctrine\DoctrineWeatherStationSeriesIdType


services:
	- Adeira\Connector\Devices\Application\Service\Camera\ViewAllCameras
	- Adeira\Connector\Devices\Application\Service\WeatherStation\(
		CountAllWeatherStations
		ViewAggregatedRecords
		ViewAllWeatherStations
		ViewAllWeatherStationSeries
		ViewSingleWeatherStation
		ViewSingleWeatherStationRecord
	)
	aggregatedWeatherStationRecords: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineAggregatedWeatherStationRecords
	allCameras: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineAllCameras
	allWeatherStationRecords: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineAllWeatherStationRecords
	allWeatherStations: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineAllWeatherStations
	allWeatherStationSeries: Adeira\Connector\Devices\Infrastructure\Persistence\Doctrine\DoctrineAllWeatherStationSeries


serviceBus:
	dispatchMap:
		Adeira\Connector\Devices\Application\Service\Camera\Command\CreateCamera: Adeira\Connector\Devices\Application\Service\Camera\Command\CreateCameraHandler
		Adeira\Connector\Devices\Application\Service\WeatherStation\Command\CreateWeatherStation: Adeira\Connector\Devices\Application\Service\WeatherStation\Command\CreateWeatherStationHandler
		Adeira\Connector\Devices\Application\Service\WeatherStation\Command\CreateWeatherStationRecord: Adeira\Connector\Devices\Application\Service\WeatherStation\Command\CreateWeatherStationRecordHandler
		Adeira\Connector\Devices\Application\Service\WeatherStation\Command\RemoveWeatherStation: Adeira\Connector\Devices\Application\Service\WeatherStation\Command\RemoveWeatherStationHandler
		Adeira\Connector\Devices\Application\Service\WeatherStation\Command\RenameWeatherStation: Adeira\Connector\Devices\Application\Service\WeatherStation\Command\RenameWeatherStationHandler
