# GraphQL queries are hierarchical and composed, describing a tree of information.
# While Scalar types describe the leaf values of these hierarchical queries, Objects describe the intermediate levels.

graphql:
	queries:
		allWeatherStations:
			arguments:
				first: Int
				after: String
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\AllWeatherStationsQuery
			next: WeatherStationsConnection

		weatherStation:
			arguments:
				id: ID!
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStationQuery
			next: WeatherStation


	mutations:
		createWeatherStation:
			arguments:
				name: String!
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\CreateWeatherStation
			next: WeatherStation

		createWeatherStationRecord:
			arguments:
				id: ID!
				quantities: PhysicalQuantitiesInput!
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\CreateWeatherStationRecord
			next: WeatherStationRecord

		renameWeatherStation:
			arguments:
				stationId: ID!
				newName: String!
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStation\Mutation\RenameWeatherStation
			next: WeatherStation

		removeWeatherStation:
			arguments:
				stationId: ID!
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStation\Mutation\RemoveWeatherStation
			next: WeatherStation

	outputTypes:
		WeatherStationsConnection:
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStationsConnection
			fields:
				edges: [WeatherStationEdge]
				totalCount: Int!
				weatherStations: [WeatherStation]
				series: [WeatherStationSeries]

		WeatherStationEdge:
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStationsEdge
			fields:
				cursor: String!
				node: WeatherStation

		WeatherStation:
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStation
			fields:
				id: ID!
				name: String!
				allRecords:
					arguments:
						first: Int!
						aggregation: RecordsAggregation(default: hour)
						untilDate: DateTime
					next: WeatherStationRecordsConnection

		WeatherStationRecordsConnection:
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStationRecordsConnection
			fields:
				totalCount: Int!
				returnedCount: Int!
				records: [WeatherStationRecord]

		WeatherStationSeries:
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStationSeries
			fields:
				id: ID!
				name: String!

		WeatherStationRecord:
			resolver: Adeira\Connector\Devices\Infrastructure\Delivery\API\GraphQL\WeatherStationRecord
			fields:
				aggregatedDate: DateTime
				absolutePressure:
					arguments:
						pressureUnit: PressureUnit(default: PASCAL)
					next: Float
				relativePressure:
					arguments:
						pressureUnit: PressureUnit(default: PASCAL)
					next: Float
				indoorTemperature:
					arguments:
						temperatureUnit: TemperatureUnit(default: CELSIUS)
					next: Float
				outdoorTemperature:
					arguments:
						temperatureUnit: TemperatureUnit(default: CELSIUS)
					next: Float
				indoorHumidity:
					arguments:
						humidityUnit: HumidityUnit(default: PERCENTAGE)
					next: Float
				outdoorHumidity:
					arguments:
						humidityUnit: HumidityUnit(default: PERCENTAGE)
					next: Float
				windSpeed:
					arguments:
						windSpeedUnit: WindSpeedUnit(default: KMH)
					next: Float
				windAzimuth: Float
				windGust:
					arguments:
						windSpeedUnit: WindSpeedUnit(default: KMH)
					next: Float


	inputTypes:
		PhysicalQuantitiesInput:
			absolutePressure: Float
			relativePressure: Float
			pressureUnit: PressureUnit(default: PASCAL)
			indoorTemperature: Float
			outdoorTemperature: Float
			temperatureUnit: TemperatureUnit(default: CELSIUS)
			indoorHumidity: Float
			outdoorHumidity: Float
			humidityUnit: HumidityUnit(default: PERCENTAGE)
			windSpeed: Float
			windAzimuth: Float
			windGust: Float
			windSpeedUnit: WindSpeedUnit(default: KMH)


	enums:
		RecordsAggregation:
			hour: hour
			day: day
			week: week
			month: month

		PressureUnit:
			ATM: Adeira\Connector\PhysicalUnits\DomainModel\Pressure\Units\Atm
			BAR: Adeira\Connector\PhysicalUnits\DomainModel\Pressure\Units\Bar
			PASCAL: Adeira\Connector\PhysicalUnits\DomainModel\Pressure\Units\Pascal
			TORR: Adeira\Connector\PhysicalUnits\DomainModel\Pressure\Units\Torr

		TemperatureUnit:
			CELSIUS: Adeira\Connector\PhysicalUnits\DomainModel\Temperature\Units\Celsius
			FAHRENHEIT: Adeira\Connector\PhysicalUnits\DomainModel\Temperature\Units\Fahrenheit
			KELVIN: Adeira\Connector\PhysicalUnits\DomainModel\Temperature\Units\Kelvin

		HumidityUnit:
			PERCENTAGE: Adeira\Connector\PhysicalUnits\DomainModel\Humidity\Units\Percentage

		WindSpeedUnit:
			KMH: Adeira\Connector\PhysicalUnits\DomainModel\Speed\Units\Kmh
			MPH: Adeira\Connector\PhysicalUnits\DomainModel\Speed\Units\Mph
			MS: Adeira\Connector\PhysicalUnits\DomainModel\Speed\Units\Ms
